@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}
/* added fonts */

/* nav bar start */
.list{
    text-align: center;
}

.list .item{
    display: inline-block;
}

.item{
    
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    margin-right: 72px;
    margin-top: 25px;
        
}
.item:last-child{
    margin-left: -22px;
}

.item a{
    text-decoration: none;
    color: #FF0000;  
}

/* nav bar finished */

/* start img */
.pic{
    text-align: center;
}
.pic img{
    margin-top: 25px;
}
/* finished img */

/* start main */

.caption{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    color: #373737;
    text-transform: uppercase;
    text-align: center;
    margin-top: 48px;
}

.text{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: center;
    margin: 38px 67px 0px 67px;
}
.sniped{
    margin: 28px 67px 66px 67px;
 }


/* start btn */
.btn{
    text-align: center;
    margin-top: 66px;
}
.btn a{
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #FF0000;
    border-radius: 4px;
    padding: 18px 43px;
    text-transform: uppercase;
    
}
/* finished btn */
/* finished main */

/* start footer */
.copyright{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    text-align: right;
    margin: 82px 105px 0 0;
 }
/* finished footer */